<!DOCTYPE html>
<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    
    <form action="/add_panel" method="POST">
      <div class="rendered-form">
        <div class="formbuilder-text form-group field-mac"><p></p>
            <label for="mac" class="formbuilder-text-label">Введите MAC адрес&nbsp;<span class="formbuilder-required">*</span></label><p></p>
            <input type="text" placeholder="00:00:00:00:00:00" class="form-control" name="mac" access="false" id="mac" required="required" aria-required="true"><p></p>
        </div>
        <div class="formbuilder-text form-group field-ip"><p></p>
            <label for="ip"  class="formbuilder-text-label">Введите IP адрес&nbsp;<span class="formbuilder-required">*</span></label><p></p>
            <input type="text" placeholder="172.10.10.10" class="form-control" name="ip" access="false" id="ip" required="required" aria-required="true"><p></p>
        </div>
        <div class="formbuilder-text form-group field-adress"><p></p>
            <label for="adress" class="formbuilder-text-label">Введите адрес</label><p></p>
            <input type="text" class="form-control" name="adress" access="false" id="adress"><p></p>
        </div>
        <div class="formbuilder-text form-group field-entrance"><p></p>
            <label for="entrance" class="formbuilder-text-label">Введите номер подъезда</label><p></p>
            <input type="text" class="form-control" name="entrance" access="false" id="entrance"><p></p>
        </div>
        <div class="formbuilder-text form-group field-sn"><p></p>
            <label for="serial_number" class="formbuilder-text-label">Введите серийный номер</label><p></p>
            <input type="text" class="form-control" name="serial_number" access="false" id="sn"><p></p>
        </div>
        <div class="formbuilder-text form-group field-ext_entrance"><p></p>
            <label for="ext_entrance" class="formbuilder-text-label">Введите применение<span class="tooltip-element" tooltip="1 калитка; 2 калитка; 1 подъезд; 2 подъезд">?</span></label><p></p>
            <input type="text" class="form-control" name="ext_entrance" access="false" id="ext_entrance" title="1 калитка; 2 калитка; 1 подъезд; 2 подъезд"><p></p>
        </div>
        <div class="formbuilder-text form-group field-reley"><p></p>
            <label for="reley" class="formbuilder-text-label">Введите кол-во реле</label><p></p>
            <input type="text" class="form-control" name="reley" access="false" id="reley"><p></p>
        </div>
        <div class="formbuilder-button form-group field-add_panel"><p></p>
          
            <button type="submit" class="btn-default btn" name="add_panel" access="false" id="add_panel">Добавить</button>
          </form>
        </div>
      </div>


    
  </body>
</html>



